Header set X-XSS-Protection "1; mode=block"
Header set X-Frame-Options "SAMEORIGIN"
Header set X-Content-Type-Options "nosniff"
Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains"
# Header set Content-Security-Policy ...
Header set Referrer-Policy "same-origin"
# Header set Feature-Policy "geolocation 'self'; vibrate 'none'"

<IfModule mod_headers.c>
# Caching
<FilesMatch "\.(svg|woff.*|ico|jpg|jpeg|gif|png|pdf|mp3|mp4)$">
Header set Cache-Control "public, max-age=31536000, no-transform"
</FilesMatch>
<FilesMatch "\.(html|js|css)$">
Header set Cache-Control "public, max-age=604800, must-revalidate"
</FilesMatch>
</IfModule> 

Header set Access-Control-Allow-Origin "https://isit.red"